body {
    width: 100vw;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #C7D9E5;
    overflow-x: hidden;
    background: #1c2b4a;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 60px;
    max-width: 800px;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    width: 100%;
    background: rgba(42, 61, 99, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease;
    z-index: 2;
    height: 60px;
}

nav ul {
    display: flex;
    padding: 20px 0 20px 0;
}

nav:hover {
    background: rgba(42, 61, 99, 0.8);
}

.subnav.showSubnav div a:hover span{
    background: #1c2c4aff;
}

.subnav.showSubnav div a:hover {
    color: #fff;
}

.hyperloopsubnav div{
    width: 200px;
    right: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

section div{
    width: 100%;
    padding-left: 0;
}

#ndvi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ndvi img, #ndvi p{
    width:48%;
}

.topics {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    padding: 24px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 60px;
    width: 100%;
}

.topics:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

.pinned {
    background: rgba(68, 110, 43, 0.6);
}

footer {
    display: flex;
    align-self: center;
    flex-direction: column;
    display: flex;
    padding: 0 0 40px 0;
}


/** Typography ****************************************************************/

h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 40px;
    font-size: 1.6em;
    line-height: 1.6em;
}

h2:first-child {
    padding-top: 10px;
}

.schedule ul, #team ul {
    padding-bottom: 10px;
}

.schedule h3, #team ul {
    padding-top: 10px;
}

h3 {
    color: #56833B;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.8em;
}

h3:first-child {
    padding-top: 0px;
}

p {
    line-height: 1.8em;
    padding-bottom: 10px;
    color: rgb(145, 190, 226);
}

strong {
    font-weight: bold;
    color: rgb(171, 211, 243);
}

em {
    color: #b53e14;
    padding-left: 3px;
}

nav ul li a {
    margin-right: 30px;
    font-weight: 400;
    color: #C7D9E5;
    border-bottom: 3px solid rgba(120, 155, 183, 0);
    padding-bottom: 16px;
}

nav ul li a:hover {
    border-bottom: 3px solid rgba(120, 155, 183, 1);
    transition: all 0.5s ease;
}

.subnav div a, .subnav div a:hover {
    border-bottom: none;
}

.navinvolvement{
    margin-right: 4px;
}

.onLink {
    border-bottom: 3px solid #e9bd1f;
}

a {
    text-decoration: none;
    color: #E9BD1F;
    font-weight: bold;
    transition: all 0.5s ease;
}

a:hover {
    color: #C7D9E5;
    border-bottom: 3px solid #789BB7;
}

.projcontact {
    font-size: 0.8em;
    text-align: right;
}

nav ul{
    list-style-type: none;
}

ul {
    padding-bottom: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

li {
    line-height: 1.8em;
    margin-left: 1.4em;
    text-indent: -1.4em;
}


/** Images and Design *********************************************************/

header img {
    width: 90vw;
    padding: 80px 0 40px 0;
}

img {
    width: 100%;
    margin: 10px 0;
}

img, iframe{
    border-radius: 8px;
}

.logo {
    width: 200px;
    position: absolute;
    left: 40px;
    top: 5px;
}

.persongallery{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
}

.personcard {
    margin-top:0;
    width: 30%;
    padding: 0;
}

.personcard span{
    width: 100%;
}

.personcard span img{
    object-fit: cover;
    height: 300px;
}

.personcard p{
    font-size: 14px;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #15223d;
    scrollbar-shadow-color: #646464;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #56833B;
    width: 0;
}

/* Tabs on top and bottom of scrollbar */
::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #15223d;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #789BB7;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

/** Form **********************************************************************/

.formtopic {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 800px;
    width: inherit;
    margin-bottom: 80px;
}

form section {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

label, input, select, textarea {
    margin: 15px 10px 15px 0;
    width: 200px;
}

input, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 11pt;
    border-style: none;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background: #1c2b4a;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1c2b4a inset !important;
    -webkit-text-fill-color: white !important;
}

::placeholder {
    color: #56833B;
}

.bprocess {
    align-self: flex-start;
    width: fit-content;
    font-family: 'GraphikBold', sans-serif;
    letter-spacing: 0.5px;
    border-radius: 10px;
    background: rgba(120, 155, 183, 0.3);
    padding: 8px;
    color: #fff;
}

.vImgs img {
    width: 14px;
}

/** Hard Tech Campus **********************************************************/

.htc{
    color: #ddd;
    background: #053942;
    background-image: url(HardTechCampus/images/backgrounds/Landing.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.htc header img {
    width: 86vw;
    max-width: 800px;
    padding: 120px 0 60px 0;
}

.htc .topics {
    background: #132022ad;
}

.htc h2{
    color: #BAF4E1;
}

.htc h3{
    font-size: 1.2em;
    color: #76CCBC;
}

.htc nav{
    background: #3d5a5f9d;
}

.htc nav:hover{
    background: #3d5a5fe8;
}

.htc a {
    color: #FF970F;
}

.htc .onLink {
    border-bottom: 3px solid #FF970F;
}

/** Hyperloop Symposium **********************************************************************/

.livestream{
    width:560px;
    height:315px;
}

.pollsection{
    display: flex;
    width: auto;
}

.pollsection div{
    padding-right:30px;
}

.pollsection div:last-child{
    padding-right:0;
}

#paperresults{
    min-height: 800px;
}

#paperresults2{
    min-height: 300px;
}

.participants div{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.participants div a, .participants div a:hover{
    padding: 20px;
    margin: auto auto;
    border-radius:0;
    border-bottom:0;
}

.participants div a img{
    border-radius:0;
    height: 40px;
    width: auto;
}

.participants div a.square img{
    width: 100px;
    height: auto;
}

/** Form **********************************************************************/

#menu{
    display:none;
    height:30px;
    width: 30px;
    margin-right:30px;
    top:8px;
}

@media only screen and (min-width: 769px) {
    .subnav {
        display: block;
    }
    
    .subnav div {
        transition: all 0.5s ease;
        position: absolute;
        top: 100px;
        margin-left: -36px;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 0;
        opacity: 0;
    }
    
    .subnav.showSubnav div {
        transition: all 0.5s ease;
        height: 100%;
        top: 80px;
        opacity: 1;
    }
    
    .subnav.showSubnav div a {
        padding: 16px 0 0px 0;
    }
    
    .subnav.showSubnav div a span{
        margin: -4px;
        padding: 2px 4px;
        border-radius: 4px;
        background: #1c2c4a00;
    }

    /* HTC */

    .htc .subnav.showSubnav div a span{
        margin: -4px;
        padding: 2px 4px;
        border-radius: 4px;
        background: #3d5a5f00;
    }

    .htc .subnav.showSubnav div a:hover span{
        background: #3d5a5fff;
    }

    .htc p, .htc nav a{
        color: #ddd;
    }

    .htc nav ul li a:hover {
        border-bottom: 3px solid #76CCBC;
    }

    .htc .subnav div a:hover{
        color: #FF970F;
    }
}

@media only screen and (max-width: 768px) {
    #menu{
        display:block;
    }

    nav ul{
        align-items: flex-end;
        position: fixed;
        top: 60px;
        right:-100%;
        flex-direction: column;
        background: #15223dcc;
        width: 300px;
        height: 100vh;
        transition: all 0.5s ease;
    }

    .htc nav ul{
        background: #3d5a5fcc;
    }

    nav ul li{
        margin-bottom: 30px;
    }

    .subnav{
       text-align: right;
       margin-right:12px;
       position:relative;
       transition: all 0.5s ease;
       margin-bottom:0;
       height:30px;
       width: 200px;
    }

    .subnav.showSubnav{
       transition: all 0.5s ease;
       height: 120px;
    }

    .subnav > a{
        margin-bottom:0;
    }
    
    .subnav div {
        transition: all 0.5s ease;
        margin-top: 30px;
        margin-bottom:0;
        align-items: flex-end;
        position: relative;
        right:80px;
        width:100%;
        height:0px;
        opacity:0;
        z-index:-1;
    }

    .subnav.showSubnav div {
        transition: all 0.5s ease;
        position: relative;
        height:60px;
        opacity:1;
        z-index:1;
    }

    .subnav div a, .subnav.showSubnav div a {
        margin:0;
        padding:0;
        text-indent: 0;
    }
    
    .subnav div a span{
        margin: 0;
        padding: 0;
        background: none;
    }

    #ndvi{
        display: block;
    }
    
    #ndvi img, #ndvi p{
        width:100%;
    }

    .pollsection{
        flex-direction: column;
        width: auto;
    }
    
    h2{
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }
    .livestream{
        width: 100%;
    }
    .persongallery{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .personcard{
        min-width: 280px;
        padding: 40px 20px 0 20px;
    }
    .personcard:first-child{
        margin-bottom:60px;
    }
}
