body {
    width: 100vw;
    margin: auto;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(214, 240, 248);
    overflow-x: hidden;
    background: #222 url(images/backgrounds/Landing.png) no-repeat center center fixed;
    background-size: 110%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 0.5s ease;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

nav {
    position: fixed;
    left: 0;
    overflow-x: hidden;
    padding: 20px 0 20px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease;
    text-align: right;
    z-index: 2;
}

nav:hover {
    background: rgba(255, 255, 255, 0.2);
}

section {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0px 100px 20px 100px;
}

#title,
#intro,
#schedule,
#previousprojects,
#sponsors,
#team,
#contact {
    width: inherit;
}

.topics section {
    flex: 1 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/** Typography ****************************************************************/

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 3em;
    padding: 80px 0 60px 0;
    position: relative;
    top: 40px;
    text-align: center;
}

h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;
}

#schedule ul,
#team ul {
    padding-bottom: 10px;
}

#schedule h3,
#team ul {
    padding-top: 10px;
}

h3 {
    color: lightblue;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.3em;
}

.important {
    padding-top: 20px;
    color: #8ac640;
    line-height: 1.6em;
}

h3:first-child {
    padding-top: 0px;
}

p {
    line-height: 1.5em;
    padding-bottom: 10px;
}

nav a {
    padding-right: 30px;
    font-weight: 400;
    color: #fff;
    transition: all 0.5s ease;
}

nav a:hover {
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease;
}

a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
    transition: all 0.5s ease;
}

a:hover {
    color: #BAF4E1;
}

.projcontact {
    font-size: 0.8em;
    text-align: right;
}

ul {
    padding-bottom: 10px;
}

li {
    line-height: 1.5em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 60px 0;
}


/** Images and Design *********************************************************/

.topics {
    max-width: 800px;
    margin-bottom: 100px;
}

.bracket {
    width: 20px;
    height: inherit;
    position: relative;
    margin: 0px 20px 0px 20px;
    opacity: 0.5;
}

section .bracket:last-child {
    transform: scaleX(-1);
    margin: 0px 20px 0px 20px;
}

section .textimg {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.textimg img {
    padding-left: 20px;
    height: 200px;
}

img {
    width: auto;
}

#logo {
    width: 200px;
    position: fixed;
    left: 40px;
    top: 10px;
    z-index: 2;
}

#ndvi img {
    height: 400px;
}

.triplebar {
    display: none;
    font-size: 3em;
    position: fixed;
    right: 40px;
    top: -16px;
}

#backImg,
#foreImg {
    width: 100vw;
    position: fixed;
    top: 0px;
    align-self: center;
    z-index: -3;
    transition: all 0.5s ease;
    filter: brightness(60%) contrast(95%);
}

#foreImg {
    z-index: -2;
    opacity: 0;
}


/** Queries *********************************************************/

@media only screen and (max-width: 950px) {
    #backImg,
    #foreImg {
        width: auto;
        height: 100vh;
    }
    nav,
    nav:hover {
        display: flex;
        flex-direction: column;
        width: 50%;
        left: 50%;
        top: 50px;
        align-items: flex-end;
        box-shadow: none;
        background: none;
    }
    .hideNav {
        display: none;
    }
    nav a {
        padding: 15px;
        margin: 0 30px 20px 0;
        background: #053942;
        border-radius: 15px;
    }
    .triplebar {
        display: block;
    }
}