/** Hard Tech Campus **********************************************************/

.htc{
    color: #ddd;
    background: #053942;
    background-image: url(../HardTechCampus/images/backgrounds/Landing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.htc header img {
    width: 86vw;
    max-width: 800px;
    padding: 120px 0 60px 0;
}

.htc .topics {
    background: #132022ad;
}

.htc h2{
    color: #BAF4E1;
}

.htc h3{
    font-size: 1.2em;
    color: #76CCBC;
}

.htc nav{
    background: #3d5a5f9d;
}

.htc nav:hover{
    background: #3d5a5fe8;
}

.htc p, .htc nav a{
    color: #ddd;
}

.htc a {
    color: #FF970F;
}

.htc .subnav:hover a, .htc .subnav:hover div a span {
    border-bottom: none;
    background: none;
}

.htc .onLink {
    border-bottom: 3px solid #FF970F;
}

/** Structure **********************************************************************/

::selection {
    background: #FF970Faa;
    color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #053942;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #76CCBCaa;
    border-radius: 3px;
}

/** Queries **********************************************************************/

@media only screen and (min-width: 769px) {
    /* HTC */

    .htc .subnav.showSubnav div a span{
        margin: -4px;
        padding: 2px 4px;
        border-radius: 4px;
        background: #3d5a5f00;
    }

    .htc .subnav.showSubnav div a:hover span{
        background: #3d5a5fff;
    }

    .htc nav ul li a:hover {
        border-bottom: 3px solid #76CCBC;
    }

    .htc .subnav div a:hover{
        color: #FF970F;
    }
}

@media only screen and (max-width: 768px) {
    .htc nav ul{
        background: #3d5a5fcc;
    }
}
